.action-icons {
    display: none;
}

.canonical-link {
    display: inline-block !important;
}

header,
footer {
    display: none !important;
}

h1,
h2,
h3, summary {
    font-family: 'Arial Black';
    font-weight: bold;
    text-align: left;
    padding: 0;
}

summary {
    padding-top: 2em;
}

h1 {
    font-size: 14pt;
    border-bottom: 3pt solid;
    border-bottom-color: black;
    padding-bottom: 2pt;
}

h1::before {
    content: "Non-Skating Official Guides: ";
}

h2, summary {
    font-size: 13pt;
}

h3 {
    font-size: 12pt;
}

@page {
    size: letter;
    margin: 1in;
    margin-bottom: 0.6in;
    padding: 0;

    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
        border-top: .25pt solid #666;
        width: 75%;
    }
}

html {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    line-height: normal !important;
}


dl {
    margin: 0;
    padding: 0;
}

dl dd {
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 2rem;
}

dl dt {
    display: inline;
    font-style: italic;
    color: inherit;
    margin: 0;
    padding: 0;
    margin-right: 1rem;
}

abbr {
    font-size: 80%;
    text-decoration: none !important;
}

body {
    font-size: 1.15rem;
    line-height: 1.3;
    font-family: serif;
}

a {
    color: inherit;
    text-decoration: none;
}