{% extends "page.html" %}

{% import "ns-macros.html" as macros %}

{% block content %}

<style>
    .canonical-link {
        display: none !important;
    }
</style>

<h1>
    {{ page.title }}
</h1>
<section class="header">
    <dl>
        <div>
            <dt>Author</dt>
            <dd>{{ page.extra.author }}</dd>
        </div>
        <div>
            <dt>Updated</dt>
            <dd><time datetime="{{ page.date }}">{{ page.date }}</time></dd>
        </div>
        <div>
            <dt>Words</dt>
            <dd>{{ page.word_count }}</dd>
        </div>
        <div>
            <dt>Reading Time</dt>
            <dd>{{ page.reading_time }} minutes</dd>
        </div>
        <div class="canonical-link">
            <dt>Permanent Link</dt>
            <dd>{{ page.permalink }}</dd>
        </div>
        <div class="canonical-link">
            <dt>License</dt>
            <dd>Creative Commons Attribution-ShareAlike 4.0 International</dd>
        </div>
        <div class="action-icons">
            <dt>Edit this Guide</dt>
            <dd><a href="/admin/#/edit/guides/{{ page.slug }}" class="icon">
                {{ macros::svg(item="solid/pencil", alt="Edit This Guide") }}
            </a>
        </dd>
        </div>
        <div class="action-icons">
            <dt>
                Other Formats
            </dt>
            <dd>
                <a href="{{ page.slug }}.pdf" class="icon">
                    PDF {{ macros::svg(item="solid/file-pdf", alt="PDF") }}
                </a>
                <a href="{{ page.slug }}.epub" class="icon">
                    EPUB {{ macros::svg(item="solid/book", alt="EPUB Version") }}
                </a>        
            </dd>
        </div>    
    </dl>
</section>
{% if page.toc %}
<details>
    <summary>Table of Contents</summary>
    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="#{{ h1.id | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="#{{ h2.id | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</details>
{% endif %}

{{ page.content | safe }}
{% endblock %}
{% block footer %}
{% endblock %}
