{% extends "page.html" %}

{% block content %}
<h1>
    {{ page.title }}
    <span style="float: right; font-size: 50%;">
        <a href="https://github.com/davidmreed/nonskating.club/edit/main/content/{{page.relative_path}}">Edit This Guide</a>
        <a href="{{ page.slug }}.pdf">PDF</a>
        <a href="{{ page.slug }}.epub">EPUB</a>
    </span>
</h1>
<section class="header">
    <dl>
        <div>
            <dt>Author</dt>
            <dd>{{ page.extra.author }}</dd>
        </div>
        <div>
            <dt>Updated</dt>
            <dd><time datetime="{{ page.date }}">{{ page.date }}</time></dd>
        </div>
        <div>
            <dt>Words</dt>
            <dd>{{ page.word_count }}</dd>
        </div>
        <div>
            <dt>Reading Time</dt>
            <dd>{{ page.reading_time }} minutes</dd>
        </div>
    </dl>
</section>
{% if page.toc %}
<details>
    <summary>Table of Contents</summary>
    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</details>
{% endif %}

{{ page.content | safe }}
{% endblock %}
{% block footer %}
{% endblock %}
